body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* *****Heading section***** */

/* Title heading */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Container Section */

.container-fluid {
  padding: 7% 15%;
}

/* Section */

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-right: 18px;
  padding-left: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  z-index: 0;
}

/* Features-section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials-Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-title{
  font-size: 1.3rem;
  font-weight: bold;
}

.price-text {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-prop {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
}

.cta-button {
  padding-left: 3%;
  padding-right: 3%;
}

/* Footer Section */
#footer {
  background-color: white;
}

.footer-icon {
  margin: 20px 1px 5px 7px;
}

/* Media Query */
@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
